bin/*
*.root
*.log
*.o
theia.sh
.jukit
install/*
build/*
Config.hh
macros/theia_production_1*
macros/theia_production_2*
macros/theia_production_3*
macros/theia_production_4*
macros/theia_production_5*
macros/theia_production_6*
macros/theia_production_7*
macros/theia_production_8*
macros/theia_production_9*
